.navbar-inverse {
	background-color: blue;
	
}

.navbar-inverse .navbar-nav > li > a {
  color: #9d9d9d;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a:active{
	color:green;
}
.btn-success{
	color: red;
    background: black;
}

body{
	margin-top: 10px auto 0 auto;

}